.spacer {
    flex: 1 1 auto;
    
  }
  .form {
   
    margin: 30px;
    min-width: 40px;
    max-width: 250px;
  
    width: 100%;
    font-size: small;
  }
  
  .full-width {
    width: 100%;
  }
  .card {
   max-width: 600px;
  }
  .mat-toolbar {
    position: sticky;
  
    top: 0; 
    z-index: 1000;
}